<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<script type="text/javascript" src="js/jquery-1.8.2.min.js"></script>
<script type="text/javascript" src="plugins/angularjs/angular.min.js"></script>
<script type="text/javascript">
	var app = angular.module('myApp',[]);
	app.controller('shopController',function($scope,$http){
		//起始页
		$scope.page = 1;
		//分页大小
		$scope.size = 4;
		
		$scope.upPage=function(){
			$scope.page = $scope.page - 1;
			$scope.shopList();
		}
		$scope.downPage=function(){
			$scope.page = $scope.page + 1;
			$scope.shopList();
		}
		
		$scope.loginName=function(){
			$http.get('../user/loginName.do').success(
				function(response){
					console.log(response);
					$scope.role=response.message;
				}		
			)
		}
		
		$scope.orderList = function(){
			$http.get("../order/list.do").success(
				function(response){
					console.log(response);
					$scope.orderLists=response;
				}		
			)
		}
		
		$scope.reloadList=function(){
			$scope.shopList();
		}
		
		$scope.shopList = function(){
			$http.get("../shop/list.do?page="+$scope.page+"&size="+$scope.size).success(
				function(response){
					console.log(response);
					$scope.shopLists=response.rows;
				}		
			)
		}
		
		
		$scope.updateStatus = function(id,status){
			$http.get('../shop/updateStatus.do?id='+id+'&status='+status).success(
				function(response){
					console.log(response);
					if(response.success){
						alert(response.message);
						location.reload();
					}else{
						alert(response.message);
					}
				}		
			)
		}

	})
</script>
<body ng-app="myApp" ng-controller="shopController" ng-init="loginName();orderList();shopList();">

	<table ng-if="role == 'ROLE_SHOP'">
		<tr>
			<td>订单编号</td>
			<td>订单名称</td>
			<td>数量</td>
			<td>价格</td>
			<td>状态</td>
			<td>备注</td>
			<td>操作</td>
		</tr>
		<tr ng-repeat="entity in orderLists">
			<td>{{$index+1}}</td>
			<td>{{entity.oname}}</td>
			<td>{{entity.ocount}}</td>
			<td>{{entity.oprice}}</td>
			<td ng-if="entity.status == 0">未发货</td>
			<td ng-if="entity.status == 1">发货</td>
			<td>{{entity.bz}}</td>
			<td>
				<input type="button" ng-if="entity.status == 0" value="发货">
				<input type="button" ng-if="entity.status == 1" value="未发货">
			</td>
		</tr>
		<tr>
			<td colspan="2">
				<input type="button" value="上一页" ng-click="upPage()">
				<input type="button" value="下一页" ng-click="upPage()">
			</td>
		</tr>
	</table>


	<table ng-if="role == 'ROLE_USER'">
		<tr>
			<td>商品编号</td>
			<td>商品名称</td>
			<td>商品价格</td>
			<td>状态</td>
		</tr>
		<tr ng-repeat="entity in shopLists">
			<td>{{entity.id}}</td>
			<td><img src="{{entity.photo}}" width="50px">{{entity.shopname}}</td>
			<td>{{entity.price}}</td>
			<td>
				<input type="button" ng-if="entity.status == 0" ng-click="updateStatus(entity.id,1)" value="上架">
				<input type="button" ng-if="entity.status == 1" ng-click="updateStatus(entity.id,0)" value="下架">
				<a ng-href="http://localhost:801/{{entity.id}}.html" ng-if="entity.status == 1">详情</a>
			</td>
		</tr>
		<tr>
			<td colspan="2">
				<input type="button" value="上一页" ng-click="upPage()">
				<input type="button" value="下一页" ng-click="downPage()">
			</td>
		</tr>
	</table>
</body>
</html>