<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<script type="text/javascript" src="js/jquery-1.8.2.min.js"></script>
<script type="text/javascript" src="plugins/angularjs/angular.min.js"></script>
<script type="text/javascript">
	var app = angular.module('shop',[]);
	app.controller('shopController',function($scope,$http){
		$scope.shopList = function(){
			$http.get("../shop/list.do").success(
				function(response){
					console.log(response);
					$scope.list=response;
				}		
			)
		}
	})
</script>
<body ng-app="shop" ng-controller="shopController" ng-init="shopList();">
	<table>
		<tr>
			<td>商品编号</td>
			<td>商品名称</td>
			<td>商品价格</td>
			<td>状态</td>
		</tr>
		<tr ng-repeat="entity in list">
			<td>{{entity.id}}</td>
			<td>{{entity.shopname}}</td>
			<td>{{entity.price}}</td>
			<td>
				<input type="button" ng-if="entity.status == 0" value="上架">
				<input type="button" ng-if="entity.status == 1" value="下架">
			</td>
		</tr>
	</table>
</body>
</html>